<form
  class="row justify-content-center"
  #forgotPasswordForm="ngForm"
  autocomplete="off"
  style="position: relative"
>
  <div class="col-4">
    <h2 class="text-center text-primary">Forgot Password</h2>
    <hr />
    <div class="form-group">
      <label for="name" class="form-label mt-4">Username</label>
      <input
        [(ngModel)]="forgotPwdModel.username"
        type="text"
        class="form-control mr-sm-2"
        id="username"
        name="username"
        placeholder="Username"
        required
        #username="ngModel"
        [ngClass]="{ 'is-invalid': !username.valid && username.touched }"
      />
      <div
        *ngIf="!username.valid && username.touched"
        class="invalid-feedback d-block"
      >
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="form-label mt-4">New Password</label>
      <input
        [(ngModel)]="forgotPwdModel.newPassword"
        type="password"
        class="form-control mr-sm-2"
        id="newPassword"
        name="newPassword"
        placeholder="New Password"
        required
        #newPassword="ngModel"
        (change)="newPasswordChanged(newPassword.value)"
        [ngClass]="{ 'is-invalid': !newPassword.valid && newPassword.touched }"
      />
      <div
        *ngIf="!newPassword.valid && newPassword.touched"
        class="invalid-feedback d-block"
      >
        New Password is required.
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="form-label mt-4">Confirm Password</label>
      <input
        type="password"
        class="form-control mr-sm-2"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm Password"
        required
        ngModel
        #confirmPassword="ngModel"
        (change)="confirmPwdChanged(confirmPassword.value)"
        [ngClass]="{
          'is-invalid':
            (!confirmPassword.valid && confirmPassword.touched) ||
            !passwordMatch
        }"
      />
      <div
        *ngIf="!confirmPassword.valid && confirmPassword.touched"
        class="invalid-feedback d-block"
      >
        Confirm password is required.
      </div>
      <div *ngIf="!passwordMatch" class="invalid-feedback d-block">
        Password and confirm password must match.
      </div>
    </div>
    <div class="form-group text-center mt-5">
      <button
        class="btn btn-success mr-2"
        type="submit"
        (click)="forgotPassword()"
        [disabled]="
          !(forgotPasswordForm.valid && forgotPasswordForm.dirty) ||
          !passwordMatch
        "
      >
        Confirm
      </button>
      <button class="btn btn-danger mr-2" (click)="cancel()" type="button">
        Cancel
      </button>
    </div>
  </div>
</form>
